<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.byunghwa.app.androidlibrary" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".JokeActivity"
            android:label="@string/app_name" >

            <!-- Your library will override your app defaults if you declare <intent-filter> here.
            Think about it: it's a library, so this activity doesn't need to be MAIN neither LAUNCHER,
            right? Therefore it's not needed here. -->

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->


        </activity>
    </application>

</manifest>
